.boardGame {
    width: 420px;
    height: 420px;
    border: 1px dashed gray;
    position: absolute;
    background: gray;
    border-radius: 10px;
    border:5px inset red;
}

.tile:hover {
    cursor: pointer;
}

.tile {
    font-size: 2em;
    line-height: 3em;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid gray;
    position: absolute;
    background: white;
    border-radius: 5px;
}

.tile.empty {
    z-index: -1;
    background: white;
    text-indent: -1000px;
    overflow: hidden;
    border: 1px solid transparent;
    background: gray;
}